<div>
    <h3>Meal {{.Index}}</h3>
    <ul>
        {{range .Meal}}
            <li>{{.Name}} </li>
        {{end}}
    </ul>

    <button hx-get="/onemeal?mealIndex={{.Index}}" hx-target="#meal-{{.Index}}">Re-roll Meal</button>
</div>