<div class="card-body">
    <h3>{{.Day}}</h3>
    <ul>
        {{range .Meal}}
            <li>{{.Name}} </li>
        {{end}}
    </ul>

    <button 
        hx-get="/onemeal?mealIndex={{.Index}}" 
        hx-target="#meal-{{.Index}}"
        class="btn btn-primary">Re-roll Meal</button>
</div>