{{range $i, $meal := .Menu}}
    <div 
        id="meal-{{$i}}"
        class="card m-4"
        style="width: 14rem;"
    >

        <div class="card-body">

            <h3>{{index $.Days $i}}</h3>
            <ul>
                {{range $meal}}
                    <li>{{.Name}} </li>
                {{end}}
            </ul>

            <button 
                hx-get="/onemeal?mealIndex={{$i}}" 
                hx-target="#meal-{{$i}}"
                class="btn btn-primary">Re-roll Meal</button>
        </div>
    </div>
{{end}}